<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428957528185-lbt2a49qb7l9q6m7v2dd3oglllkspfqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428957528185-lbt2a49qb7l9q6m7v2dd3oglllkspfqv</string>
	<key>API_KEY</key>
	<string>AIzaSyBxcuyDBUtY09RDcZIOHQyCNcVJSsg3Kvg</string>
	<key>GCM_SENDER_ID</key>
	<string>428957528185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.easystall</string>
	<key>PROJECT_ID</key>
	<string>easystall-73630</string>
	<key>STORAGE_BUCKET</key>
	<string>easystall-73630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428957528185:ios:aacbcb44df7f8f403e24a8</string>
	<key>DATABASE_URL</key>
	<string>https://easystall-73630-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>